* {
    box-sizing: border-box;
}

.container {
   width: 960px;
   margin: 0 auto;
}

.grid-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-box {
    border: 1px solid black;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px
}

.reset,
.clearIt,
.black,
.rgb { 
    padding:8px 20px ;
}
